body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: #500b0b;
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;

}

.header1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10%;
}

.header2 a {
    color: white;
    padding: 15px 60px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: black;
    border-radius: 44px;
}

.header2 a:hover {
    background-color: #313030;
}

.hero {
    background-image: url('../imgs/blurred-city-lights.jpg');
    background-size: cover;
    background-position: center;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    position: relative;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.hero-content {
    position: relative;
    z-index: 1;
    max-width: 800px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
}

.hero-title {
    margin-bottom: 20px;
    font-size: 3em;
    font-weight: bold;
}

.hero-about {
    font-size: 1.2em;
}

.menu {
    padding: 20px;
    background-color: #f8f8f8;
}

.section-title {
    text-align: center;
    margin-bottom: 40px;
}

.menu-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
}

.menu-item img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}

.menu-item div {
    flex: 1;
    margin-left: 20px;
}

.order-section {
    padding: 20px;
    background-color: #f0f0f0;
}

.order-form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #f0f0f0;
    padding: 40px;
    border: 1px solid #572626;
    border-radius: 15px;
}

.order-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.order-form label {
    display: block;
    margin-bottom: 10px;
}

.order-form input,
.order-form select,
.order-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.order-form button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.order-form button:hover {
    background-color: #555;
}

.order-table {
    width: 100%;
    margin: 20px auto;
    border-collapse: collapse;
}

.order-table th,
.order-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.order-table th {
    background-color: #f4f4f4;
}

.delete-button {
    background-color: #d9534f;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #5e201e;
}

.status-button {
    background-color: #3ec92c;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.status-button:hover {
    background-color: #214d1c;
}


.delete-all-button {
    background-color: #d9534f;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
    text-align: center;
}

.delete-all-button:hover {
    background-color: #c9302c;
}

.buttons-footer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 10px ;
    gap: 30px;
}

.button-footer {
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 30px;
    background-color: black;
    color: white;
    
}

.button-footer:hover {
    background-color: #313030;
}


footer {
    background-color: #572626;
    color: white;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.space  {
    background-color: #572626 !important;
    width: 100%;
    height: 3px;
}


