.header {
    background-color: #1d1c1c;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    @media screen and (max-width: 768px){
        flex-direction: column;
    }
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    @media screen and (max-width: 768px){
        flex-direction: column;
    }
}

 a {
    display: inline-flex;
    align-content: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
    margin: 40px 30px 40px 30px;
    height: 60px;
    line-height: 60px;
    padding: 5px 40px 10px 40px;
    border-radius: 30px;
    backdrop-filter: blur(15px);
    overflow: hidden;
    letter-spacing: 1px;
}

a:hover {
    letter-spacing: 3px;
    transition: 0.5s;
}

a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
    transform: skewX(45deg) translate(0);
    transition: 0.5s;
    filter: blur(0px);
}

a:hover:before {
    transform: skewX(45deg) translate(150px);
} 

.aside {
    background-color: #572a2a;
    width: 100%;
    height: 100%;
    padding: 180px 0px;
   
    @media screen and (max-width: 768px) {
        padding: 80px 0px;
    }
    
}

.logo {
        width: 200px;
        height: 150px;
        margin : 15px 20px 15px 20px;
        display: flex;
}

.boxMesas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 100px 0px 100px 0px;
    text-align: center;
    font-size: 28px;
   
    @media screen and (max-width: 768px) {
        flex-direction: column;
    }

}

#mesa1  {
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 50%;
    padding: 60px;
   
    font-weight: bold;
    margin: 10px;
}
#mesa2  {
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    padding: 60px;
    font-weight: bold;
    margin: 10px;
}
#mesa3  {
    cursor: pointer;
    background-color: rgb(253, 253, 253);
    border-radius: 50%;
    padding: 60px;
    font-weight: bold;
    margin: 10px;
}
#mesa4  {
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    padding: 60px;
    font-weight: bold;
    margin: 10px;
}
#mesa5  {
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    padding: 60px;
    font-weight: bold;
    margin: 10px;
}
#mesa6  {
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    padding: 60px;
    font-weight: bold;
    margin: 10px;
    
}

.box {
    background-color: rgb(255, 255, 255);
    align-content: center;
    justify-content: center;
    margin: auto;
    width: 500px;
    display: flex;
    border-radius: 10px;
    @media screen and (max-width: 768px) {
        width: 300px;
        height: 300px;
    }
}

#form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
}

#form_box {
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    margin: auto;
    @media screen and (max-width: 768px) {
        flex-direction: column;
    }
}

#form_box_itens {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align-last: center;
    margin: auto;
    @media screen and (max-width: 768px) {
        flex-direction: column;
    }
}

#texto{
    display: flex;
    flex-direction: column;
    color: rgb(0, 0, 0);
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
}


#title {
    text-align: center;
    align-items: center;
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 40px;
}

#descricao {
    font-size: 20px;
    text-align: center;
    width: 400px;
    @media screen and (max-width: 768px) {
        width: 300px;
    }


}

#mesa1:hover {
    letter-spacing: 3px;
    transition: 0.5s;
}

#mesa2:hover {
    letter-spacing: 3px;
    transition: 1s;
}
#mesa3:hover {
    letter-spacing: 3px;
    transition: 1s;
}

#mesa4:hover {
    letter-spacing: 3px;
    transition: 1s;
}

#mesa5:hover {
    letter-spacing: 3px;
    transition: 1s;
}

#mesa6:hover {
    letter-spacing: 3px;
    transition: 1s;
}
